@*
    Copyright (c) Alessandro Ghidini. All rights reserved.
    Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.
*@

@using Sotsera.Blazor.Toaster
@inject Sotsera.Blazor.Oidc.IUserManager UserManager
@inject IToaster Toaster

<ToastContainer />

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <NotFoundContent>
            <h3>Sorry</h3>
            <p>Sorry, there's nothing at this address.</p>
        </NotFoundContent>
        <NotAuthorizedContent>
            <h3>Sorry</h3>
            <p>You're not authorized to reach this page.</p>
            <p>You may need to log in as a different user.</p>
        </NotAuthorizedContent>
        <AuthorizingContent>
            <h3>Authentication in progress</h3>
        </AuthorizingContent>
    </Router>
</CascadingAuthenticationState>

@code
{

    protected override void OnInitialized()
    {
        UserManager.OnUserSessionExpiring += args =>
        {
            Toaster.Error("Authorization session expired");
            args.Cancel = false;
        };
    }

}
