@*
    Copyright (c) Alessandro Ghidini. All rights reserved.
    Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.
*@

@using Sotsera.Blazor.Oidc
@using Sotsera.Blazor.Toaster
@inject IUserManager UserManager
@inject IToaster Toaster

<SessionExpiring />
<ToastContainer />

<Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(IUserManager).Assembly }">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <h3>Sorry</h3>
                <p>You're not authorized to reach this page.</p>
                <p>You may need to log in as a different user.</p>
            </NotAuthorized>
            <Authorizing>
                <h3>Authentication in progress</h3>
            </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <h3>Sorry</h3>
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>

@*<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <NotFoundContent>
            <h3>Sorry</h3>
            <p>Sorry, there's nothing at this address.</p>
        </NotFoundContent>
        <NotAuthorizedContent>
            <h3>Sorry</h3>
            <p>You're not authorized to reach this page.</p>
            <p>You may need to log in as a different user.</p>
        </NotAuthorizedContent>
        <AuthorizingContent>
            <h3>Authentication in progress</h3>
        </AuthorizingContent>
    </Router>
</CascadingAuthenticationState>*@

@code
{

    protected override void OnInitialized()
    {
        UserManager.OnError += message => Toaster.Error(message);
    }

}
